<i class="fa fa-home fa-lg top-right" (click)="navigateHome();"></i>
<div class="container spinner-container" align="center" *ngIf="ticketsLoading">
    <div class="col-md-12">
        <div class="loader"></div>
    </div>
</div>
<div class="container table-container" *ngIf="!ticketsLoading && ticketList.length > 0">
    <div class="col-md-12 text-center">
        <h2>Orbit Tickets</h2>
    </div>
    <div class="col-md-10 offset-md-1">
        <div class="row">
                <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>Ticket #</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Priority</th>                                         
                        </tr>
                    </thead>   
                    <tbody>
                        <tr *ngFor="let t of ticketList">
                            <td>
                                {{t.ticketID}}
                            </td>
                            <td>
                                {{t.name}}
                            </td>
                            <td>
                                {{t.description}}
                            </td>
                            <td>
                                {{t.priority}}
                            </td>                  
                        </tr>                                  
                    </tbody>
                </table>
        </div>
    </div>
</div>
<div class="container" *ngIf="!ticketsLoading && ticketList.length === 0">
    <div class="col-md-12">
        <div class="alert alert-danger text-center">
            There are no tickets that have been reported.
        </div>
    </div>
</div>