<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div id='title'>
<img class="earth" src="assets/img/earth.png" >
    <img class="astro-man" src="assets/img/astro_man.png" >

    <div class="container">
        <div class="col-md-12 text-center">
            <img class="orbit-logo img-responsive center-block" src="assets/img/orbit_logo.png" >
            <h1 class="orbit-title">Orbit</h1>
        </div>
    </div>

    <div class="container error-page">
           <div class="col-md-6 offset-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title"> Oh no! Something went wrong. </h3>
                    </div>
                </div>
           </div>
           <div class="col-md-4 offset-md-4">
                <input class="btn btn-lg btn-secondary btn-block" type="submit" value="Go Home" (click)="navigateHome();" />
            </div>
     </div>
</div>


<div class="footer">
    {{footerMessage}}
</div>
